@import url(../fonts/fonts.css);

body {
  font-family: 'Cormorant Unicase', Arial, sans-serif;
}

.carousel-control-prev-icon {
    background-image: url(/src/image/chevron-left.svg);
    width: 3em;
    height: 3em;
}

.carousel-control-next-icon {
    background-image: url(/src/image/chevron-right.svg);
    width: 3em;
    height: 3em;
}

.heading-col{
    min-height: 60px;
}

.hover-opp:hover{
    opacity: 0.6;
}

.icon {
    width: 3em;
    height: 3em; 
}

.bg-light {
    background-color: #f8fbff !important;
  }

  .modal-fix {
    top: 8%;
}

@media screen and (max-width: 720px) {
	.modal-fix {
    top: 15%;
  }
}

.nav-font {
    font-family: 'Dancing Script';
    color: white !important;
    font-size: 30px;
  } 

.text-justify {
  text-align: justify;
}

.btn-cost {
  width: 300px;
}

.padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 720px) {
	.padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}